.head {
    width: 100%;
    height: 8vh;
    background-color: #cd00cd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    .icon {
        color: #ffffff;
        font-size: 2rem;
    }

    .title {
        font-size: 2rem;
        color: #ffffff;
        padding: 1rem;
    }
}